<div class="_header">Данные</div>
<ul class="list-unstyled">
    <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Страны</a></li>
    <li class="active"><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Сотрудники</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Другое</a></li>
</ul>
<div class="_header">Привязка email</div>
<ul class="list-unstyled">
    <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Заявки</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Вопросы</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Обратные звонки</a></li>
</ul>