blessings==1.6
bpython==0.14
cssselect==0.9.1
curtsies==0.1.18
Flask==0.10.1
Flask-SQLAlchemy==2.0
greenlet==0.4.5
itsdangerous==0.24
Jinja2==2.7.3
lxml==3.4.2
MarkupSafe==0.23
Pygments==2.0.2
PyMySQL==0.6.3
pyquery==1.2.9
requests==2.5.1
six==1.9.0
SQLAlchemy==0.9.8
Werkzeug==0.10.1
