@icon-font-path: '/view/fonts/bootstrap/';

@font-size-base:12px;

//@container-large-desktop:((1340px + @grid-gutter-width));

@_colGutterWidth:10px;

@_menuWidth:220px;

@_siteMargin:15px;

@_footerHeight:39px;
//@_menuPosition:left;
